<div class="container">
    <form>
        <div class="form-row">
            <div class="col text-center p-2">
                <img class="laptop-img" src="clientapp/assets/img/{{selectedProduct.image}}" alt="Selected Laptop Image">
                <div>
                    <h3>{{selectedProduct.title}} Net Price {{selectedProduct.price | currency:"GBP"}}</h3>
                    <h4>Please make your selections</h4>
                    <div class="form-group">
                        <span class="config">RAM:&nbsp;</span>
                        <span class="config-select">
                            8GB&nbsp;
                            <input type="radio" name="ram" [(ngModel)]="selectedConfig.ramCode" (ngModelChange)="calculatePrice()" value="8GB" required="">
                        </span>
                        <span class="config-select">
                            16GB&nbsp;
                            <input type="radio" name="ram" [(ngModel)]="selectedConfig.ramCode" (ngModelChange)="calculatePrice()" value="16GB" required="">
                        </span>
                        <div *ngIf="selectedConfig.ramCode == '' && submitted" class="text-danger">Please select RAM</div>
                    </div>
                    <div class="form-group">
                        <span class="config">Hard Disk Size:&nbsp;</span>
                        <span class="config-select">
                            500GB&nbsp;
                            <input type="radio" name="disk" [(ngModel)]="selectedConfig.hardDiskCode" (ngModelChange)="calculatePrice()" value="500GB" required="">
                        </span>
                        <span class="config-select">
                            1TB&nbsp;
                            <input type="radio" name="disk" [(ngModel)]="selectedConfig.hardDiskCode" (ngModelChange)="calculatePrice()" value="1TB" required="">
                        </span>
                        <div *ngIf="selectedConfig.hardDiskCode == '' && submitted" class="text-danger">Please select hard disk size</div>
                    </div>
                    <div class="form-group">
                        <span class="config">Colour:&nbsp;</span>
                        <span class="config-select">
                            Blue&nbsp;
                            <input type="radio" name="colour" [(ngModel)]="selectedConfig.colourCode" (ngModelChange)="calculatePrice()" value="blue" required="">
                        </span>
                        <span class="config-select">
                            Red&nbsp;
                            <input type="radio" name="colour" [(ngModel)]="selectedConfig.colourCode" (ngModelChange)="calculatePrice()" value="red" required="">
                        </span>
                        <div *ngIf="selectedConfig.colourCode == '' && submitted" class="text-danger">Please select a colour</div>
                    </div>
                    <div class="form-group">
                        <span class="config">CPU:&nbsp;</span>
                        <span class="config-select">
                            Intel Core i3&nbsp;
                            <input type="radio" name="cpu" [(ngModel)]="selectedConfig.cpuCode" value="i3" (ngModelChange)="calculatePrice()" required="">
                        </span>
                        <span class="config-select">
                            Intel Core i7&nbsp;
                            <input type="radio" name="cpu" [(ngModel)]="selectedConfig.cpuCode" value="i7" (ngModelChange)="calculatePrice()" required="">
                        </span>
                        <div *ngIf="selectedConfig.cpuCode == '' && submitted" class="text-danger">Please select CPU</div>
                    </div>
                    <h3>
                        Total Cost&nbsp;
                        <span>{{totalPrice | currency:"GBP"}}</span>
                    </h3>

                    <button (click)="addToBasket()" class="btn btn-primary m-3" type="submit">Add To Basket</button>

                    <div *ngIf="showAdded" class="alert alert-success" role="alert">
                        <span>
                            <strong>Item Added!&nbsp;</strong>
                        </span>
                        <div>
                            <a routerLink="" class="btn btn-info btn-sm m-2">Add More Items</a>
                            <a routerLink="/checkout" class="btn btn-info btn-sm m-2">Proceed To Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div *ngIf="errorMessage != ''" class="alert alert-success" role="alert">
        <span>
            <strong>{{errorMessage}}</strong>
        </span>
        <div>

        </div>
    </div>

</div>